<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask Image Server</title>

    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/app.css">
  </head>
  <body>
    <div class="container">
      <div class="half-box">
        <div id="encoding-container"></div>
      </div>
      <div class="half-box">
        <div id="decoding-box"></div>
      </div>
    </div>
    <script type="text/javascript" src="../static/scripts/helpers.js"></script>
    <script type="text/javascript" src="../static/scripts/endpoints.js"></script>
    <script type="text/javascript" src="../static/scripts/app.js"></script>
  </body>
</html>
